{% extends "base.html" %}
{% load i18n static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title-head hgroup text-center mb-4">
                    <h1>{% trans 'The procedure for membership in the association' %}</h1>
                </div>
                <div class="card border-0 card-wrap">
                    <div class="card-body">

                        <p class="text-center">
                            “Oʻztoʻqimachiliksanoat” Uyushmasi ishtirokchilarining 2019-yil 19-apreldagi
                            majlisi Bayonnomasi bilan tasdiqlangan Tartibning 3-bandiga asosan, korxona Uyushma
                            tarkibiga
                            birlashgan aʼzo sifatida qabul qilinishi uchun taqdim etilishi lozim boʻlgan hujjatlar
                        </p>
                        <p class="text-center">
                            <strong>R Oʻ Y X A T I:</strong>
                        </p>

                        <ul>
                            <li>tashkilot murojaat xati:</li>
                            <li>namuna shaklida korxona pasporti;</li>
                            <li>tashkilotning Davlat roʻyxatidan oʻtkazilganligi toʻgʻrisidagi guvoxnoma, taʼsis
                                hujjatlari
                                nusxasi (barcha oʻzgartirish va qoʻshimchalar bilan birgalikda);
                            </li>
                            <li>soʻnggi xisobot davri boʻyicha buxgalteriya balansi nusxasi;</li>
                            <li>Oʻrnatilgan uskunalar toʻgʻrisida toʻliq maʼlumot (ilova qilingan namuna shaklida).</li>
                            <li>tashkilot raxbarini tayinlash haqidagi qaror yoki buyruq nusxasi, mehnat faoliyati
                                toʻgʻrisidagi maʼlumotnoma;
                            </li>
                            <li>korxonada mahsulot ishlab chiqarish boʻyicha kamida bir yilga moʻljallangan –
                                biznes-reja
                                nusxasi;
                            </li>
                            <li>
                                tashkilot tomonidan bojxona imtiyozi asosida import qilinadigan mahsulotlar toʻgʻrisida
                                alohida maʼlumot (ilova qilingan namuna shaklida);
                            </li>
                            <li>taʼsischining uyushma tarkibiga kirish toʻgʻrisidagi qarori, yozma roziligi (bayonnoma),
                            </li>
                            <li>fotomateriallar (6-10 dona) ishlab chiqarish jarayoni, mahsulotlar va bino inshoat
                                koʻrinishi boʻyicha.
                            </li>
                            <li>bino-inshoatlar ijar asosida foydalanilgan taqdirda ijara shartnomasi nusxasi.</li>
                            <li>bino-inshoatlar korxonaga tegishli boʻlganda kadastr hujjati nusxasi. (tegishli 2-3
                                varaqda)
                            </li>
                        </ul>


                        <p class="text-center mt-3">
                            <strong>E S L A T M A</strong>
                        </p>
                        <p>
                            <strong>Murojaat xati</strong>
                            – “Oʻztoʻqimachiliksanoat” Uyushmasi raisi I.U.Xaydarov nomiga yoziladi.
                        </p>
                        <p>
                            <strong>Taʼsis hujjatlari</strong>
                            – Guvoxnoma, Ustav va taʼsis shartnomasinitashkil etadi.
                        </p>
                        <p>
                            <strong>Buxgalteriya balansi</strong>
                            – DSI tomonidan tasdiqlangan buxgalteriya balansi nazarda tutilmoqda.
                        </p>
                        <p>
                            <strong>Oʻrnatilgan uskunalar toʻgʻrisida toʻliq maʼlumot</strong>
                            – jadval tarzida bayon etilishi lozim.<strong>Masalan,</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
