{% extends "base.html" %}
{% load i18n static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div>
                    <p>
                        <iframe frameborder="1" height="500" scrolling="yes"
                                src="http://old.lex.uz/pages/getpage.aspx?lact_id=3135875" width="100%"></iframe>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}