{% extends 'base.html' %}
{% load static i18n %}


{% block content %}
    <section class="all__news" style="background-image: url('{% static 'assets/images/bannerimg.png' %}');">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-md-12">
                    <div class="heading_news-all">
                        <h1>{% trans 'All News' %}<i class="fal fa-newspaper"></i></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="news"
             style="
                     background-color: #EFEFEF;
                     background-image: url('{% static 'assets/images/bg-charm2.png' %}');
                     background-attachment: fixed
                     ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="title">{% trans 'All News' %}</h1>
                    <div class="border-top-news mx-auto"></div>
                </div>

                {% for post in posts %}
                    <div class="news_content mt-5 col-md-12" data-aos="fade-up" data-aos-duration="1500">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="ml-lg-n3 img__news-insite">
                        <div class="news-text">
                            <h1>{{ post.title }}</h1>
                            <h4>{{ post.short_description }}</h4>

                            <div class="list__btn">
                                <a href="{{ post.get_absolute_url }}" class="podrobni text-decoration-none">
                                    {% trans 'More' %}<i class="fal fa-long-arrow-right ml-2"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}
