{% extends "base.html" %}
{% load i18n static %}

<style>
    .card-wrap {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    }

    .hgroup h1 {
        font-size: 25px;
        text-transform: capitalize;
    }

    .search__form input {
        margin-bottom: 1.5rem;
        color: #8b8d94;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        padding: 5px 15px 5px 15px;
        border-color: rgba(51, 51, 51, 0.11);
        background-color: #fdfdfd;
        border-radius: 2px;
    }
</style>
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mb-4 mt-4">
                <div class="hgroup">
                    <h1>{% trans 'Uyushma tarkibidagi aʼzo korxonalar kategoriyasi' %}</h1>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    {% if company_types %}
                        {% for item in company_types %}
                            <div class="col-lg-3 col-md-6 col-12 pro___card mt-2">
                                <div class="card__head h-100 bg-white shadow">

                                    <div class="card card-fath">
                                        {% if item.image %}
                                            <img class="image__proo" src="{{ item.image.url }}"
                                                 alt="{{ item.title }}" style="height: 250px;">
                                        {% endif %}
                                    </div>

                                    <div class="card-body-description px-4">
                                        <a class="text-decoration-none" href="{% url 'blogs:menu_companys' item.slug %}">
                                            <h5>{{ item.name }}</h5>
                                        </a>
                                    </div>
                                    
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h1>{% trans 'Topilmadi!' %}</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
