{% extends 'base.html' %}
{% load i18n static %}

{% block content %}

<div class="container">
    <h1 class="title__text_mem">
        <h1 class="title__text_mem">{% trans 'ТЕРИНИ ҚАЙТА ИШЛАШ ҚОРХОНАЛАРИ' %}</h1>
        <div class="border__membership mb-5 mx-auto"></div>
    </h1>
    <div class="row">
        <div class="col-lg-12">
            <span class="date__membership">{% trans 'Post date:' %} 03 December 2020</span>

            <span class="float-right pdf__version">
                <a href="" class="text-decoration-none">
                <i class="far fa-file-pdf text-danger mr-1"></i>{% trans 'PDF version' %}
              </a>
        </span>

        </div>

        <div class="col-lg-12">
            <table class="membership__detail__table mt-4">
                <tbody>
                <tr>
                    <td rowspan="3">{% trans 'Enterprise name' %}</td>
                    <td rowspan="3">{% trans 'Type of activity' %}</td>
                    <td colspan="2">{% trans 'Enterprise' %}</td>
                </tr>
                <tr>
                    <td rowspan="2">{% trans 'Address' %}</td>
                    <td rowspan="2">{% trans 'Phone number' %}</td>
                </tr>
                <tr>
                </tr>
                <tr>
                    <td>"Жалолитдин саноат савдо" МЧЖ</td>
                    <td>Терини қайта ишлаш</td>
                    <td>Наманган вилояти, Наманган, Косонсой кучаси, 8 уй</td>
                    <td>+99890 554-21-12</td>
                </tr>
                <tr>
                    <td>ООО "PREMIUM LEATHER"&nbsp;</td>
                    <td>Терини қайта ишлаш</td>
                    <td>Фаргона&nbsp;вилояти, Қўқон, А.Хукандий.</td>
                    <td>+99890 509-40-04</td>
                </tr>
                <tr>
                    <td>ООО "NAFIS CHARM"&nbsp;&nbsp;</td>
                    <td>Терини қайта ишлаш</td>
                    <td>Наманган вилояти, Уйчи, Жийдакапа ЛФИ</td>
                    <td>+99869 234-12-52<br>
                        +99890 552-07-10
                    </td>
                </tr>
                <tr>
                    <td>ООО "IMPERIAL LEATHER INVEST BIZNES"&nbsp;</td>
                    <td>Терини қайта ишлаш</td>
                    <td>Фаргона вилояти, Қўқон, квл. А.Хукандий.</td>
                    <td>+99890 556-99-99</td>
                </tr>
                <tr>
                    <td>ООО "NIGORA-DADIDO"</td>
                    <td>Терини қайта ишлаш</td>
                    <td>Фаргона вилояти, Қўқон, Уста бозор, 4 уй.</td>
                    <td>+99890 565-20-25</td>
                </tr>
                <tr>
                    <td>ООО "RAVNAQ NIHOL TERI"</td>
                    <td>Терини қайта ишлаш</td>
                    <td>Фаргона вилояти, Маргилон, Саккокий, 7б.</td>
                    <td>+99890 582-95-80<br>
                        +99893 647-40-05
                    </td>
                </tr>
                <tr>
                    <td>OOO "QARSHI&nbsp; LEATHER"&nbsp;</td>
                    <td>Терини қайта ишлаш</td>
                    <td>Қашқадарё вилояти, Қарши шаҳар, Шайхали қўрғони, Қарши Косон йўли, 7км.</td>
                    <td>+99897 200-15-32<br>
                        +99895 680-60-06
                    </td>
                </tr>
                <tr>
                    <td>ООО "TARON KLASSIK"</td>
                    <td>Терини қайта ишлаш</td>
                    <td>Фаргона вилояти, Дангара, Севинч, 1-уй.</td>
                    <td>+99890 556-41-69</td>
                </tr>
                <tr>
                    <td>«TOSHKENTIM KO’RKIM»&nbsp; МЧЖ&nbsp;&nbsp;&nbsp;</td>
                    <td>Терини қайта ишлаш</td>
                    <td>Тошкент вилояти, Охангарон, Промзона</td>
                    <td>+99895 528-82-75</td>
                </tr>
                <tr>
                    <td>ООО "MM&nbsp; GOODWILL"</td>
                    <td>Терини қайта ишлаш</td>
                    <td>Тошкент, шаҳар&nbsp; Олмазор, Сагбон, 221.</td>
                    <td>+99898 130-67-66<br>
                        +99897 735-10-01
                    </td>
                </tr>
                <tr>
                    <td>OOO "SURXONDARYO CHARM"</td>
                    <td>Терини қайта ишлаш</td>
                    <td>Сурхондаре вилояти, Жаркургон, 14.</td>
                    <td>+99894 204-17-55</td>
                </tr>
                <tr>
                    <td>ЧП "ТАBIIY CHARM"</td>
                    <td>Терини қайта ишлаш</td>
                    <td>Тошкент, шаҳар Олмазор, Гулсарой -23</td>
                    <td>+99871 248-00-20<br>
                        +99894 408-02-93<br>
                        +99898 360-28-00
                    </td>
                </tr>
                <tr>
                    <td>ООО "UNIQUE LEATHER LINE"</td>
                    <td>Терини қайта ишлаш</td>
                    <td>Жиззах, Промзона</td>
                    <td>+99895 504-57-91</td>
                </tr>
                <tr>
                    <td>ООО "NUKUS CHARMPOYABZAL"</td>
                    <td>Терини қайта ишлаш</td>
                    <td>Қорақалпоғистон Республикаси Нукус ,ул.Т.Кайитбергенов, дом 23.</td>
                    <td>+99861 224-09-77</td>
                </tr>
                <tr>
                    <td style="width:328px">ООО "ULKAN - LAZIZ"</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент, шаҳар Бектемир, Ауэзов - 3.</td>
                    <td style="width:150px">+99893 396-89-24<br>
                        +99897 411-61-05
                    </td>
                </tr>
                <tr>
                    <td style="width:328px">ООО "DONIYOR BIZNES SAVDO"</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Хоразм, Ургенч. Хонка - 2/3</td>
                    <td style="width:150px">+99862 565-17-44</td>
                </tr>
                <tr>
                    <td style="width:328px">ООО "ORIENT TECHNOLOGY"</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент, шаҳарул, А.Темур,&nbsp; 95А</td>
                    <td style="width:150px">+99890 176-14-26<br>
                        +99898 147-70-70
                    </td>
                </tr>
                <tr>
                    <td style="width:328px">ООО "YULDUZ"</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Хоразм вилояти, Кушкупир, Замахшарий - 34.</td>
                    <td style="width:150px">+99862 329-56-28</td>
                </tr>
                <tr>
                    <td style="width:328px">ЧП "BARAKA&nbsp; LEATHER"</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Наманган вилояти, Уйчи тумани, Юксалиш МФИ</td>
                    <td style="width:150px">+99898 771-70-05</td>
                </tr>
                <tr>
                    <td style="width:328px">ООО "HAVAR INTERPRAYZIZ"</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Ташкент,шаҳар Яшнабадский р-н, ул.Паркент, дом 263.</td>
                    <td style="width:150px">+99871 296-66-30<br>
                        +99890 185-60-30
                    </td>
                </tr>
                <tr>
                    <td style="width:328px">ООО "KATTAKURGAN CHARM"</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Самарканд вилояти, Каттакургон, А.Кодири - 82.</td>
                    <td style="width:150px">+99898 364-75-55</td>
                </tr>
                <tr>
                    <td style="width:328px">ООО "LUX LEATHER"</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент вилояти, Тошкент тумани, Гулистон худуди, Чимкент йўли кўчаси,
                        114А-уй.
                    </td>
                    <td style="width:150px">+99893 546-66-88</td>
                </tr>
                <tr>
                    <td style="width:328px">«TOSHKENT CHARM SAVDO»&nbsp; МЧЖ&nbsp;&nbsp;&nbsp;</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент шаҳар, Фарғона йўли кўчаси, 2-тор кўча, 109-уй.</td>
                    <td style="width:150px">+99893 450-11-15</td>
                </tr>
                <tr>
                    <td style="width:328px">"ANAS TRANS SERVICE" МЧЖ&nbsp;</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Наманган вилояти, Уйчи тумани, Ахунбобоев кўчаси.</td>
                    <td style="width:150px">+99897 230-55-00</td>
                </tr>
                <tr>
                    <td style="width:328px">«HAMKOR NUR SAVDO»&nbsp; МЧЖ&nbsp;&nbsp;&nbsp;</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент вилояти, Охангарон тумани, Саноат худуди, В6 участкаси.</td>
                    <td style="width:150px">+99897 470-99-81</td>
                </tr>
                <tr>
                    <td style="width:328px">"ДАВР" МЧЖ</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Фарғона вилояти, Қўқон шаҳар, Туркистон кўчаси, 2-G уй</td>
                    <td style="width:150px">+99890 556-00-95<br>
                        +99891 155-08-35
                    </td>
                </tr>
                <tr>
                    <td style="width:328px">ИП ООО "PENG SHENG CHARM"</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Сирдаре вилояти, Хакикат, "Бетонка",1.</td>
                    <td style="width:150px">+99899 868-85-90</td>
                </tr>
                <tr>
                    <td style="width:328px">ООО "MAX CHARM EXPORT"</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Сирдаре вилояти, Околтин тумани, Мустакиллик махалласи, Гузаллик -14</td>
                    <td style="width:150px">+99867 235-54-68<br>
                        +99891 162-27-29
                    </td>
                </tr>
                <tr>
                    <td style="width:328px">ООО "ANGREN CHARM INVEST"</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент вилояти, Ангрен, Охангарон - 21.</td>
                    <td style="width:150px">+99870 663-16-18</td>
                </tr>
                <tr>
                    <td style="width:328px">“BEST STANDARD&nbsp; LEATHER”&nbsp; МЧЖ</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент шаҳар, Сергели тумани, Саади кўчаси, 27-уй.&nbsp;</td>
                    <td style="width:150px">+99890 955-55-11</td>
                </tr>
                <tr>
                    <td style="width:328px">“SHINING IMPEX”&nbsp; ОК&nbsp;</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент шаҳар, Чилонзор тумани, Новза-Қозиробод&nbsp; кўчаси, 8-уй.&nbsp;
                    </td>
                    <td style="width:150px">+99890 930-50-01<br>
                        +99871 279-78-70
                    </td>
                </tr>
                <tr>
                    <td style="width:328px">"CHINA SANAY STORY CO.LTD"</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент вилояти Ангрен шаҳри Охангарон кўчаси Саноат зонаси</td>
                    <td style="width:150px">+99890 138-00-18<br>
                        +99893 375-56-58
                    </td>
                </tr>
                <tr>
                    <td style="width:328px">"GRAND BUSINES SOLUTIONS" МЧЖ</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент шаҳар Чилонзор тумани Проспект Бунёдкор 15/1 уй</td>
                    <td style="width:150px">+99890 327-39-34<br>
                        +99871 150-06-59
                    </td>
                </tr>
                <tr>
                    <td style="width:328px">Uz-Turk Charm</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Жиззах вилояти Жиззах шаҳри Олмазор махалласи Мустақиллик кўчаси&nbsp;</td>
                    <td style="width:150px">+99890538-12-20</td>
                </tr>
                <tr>
                    <td style="width:328px">"SANFA LEATHER' МЧЖ</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Фарғона вилояти, Фарғона шаҳри, Кимёгарлар кўчаси 3-уй.</td>
                    <td style="width:150px">+99871 232-12-20</td>
                </tr>
                <tr>
                    <td style="width:328px">"DONG DA" МЧЖ</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент вилояти, Олмалиқ шаҳар, Мустақиллик кўчаси, Промзона.</td>
                    <td style="width:150px">+99897 755-44-92<br>
                        +99893 503-90-00
                    </td>
                </tr>
                <tr>
                    <td style="width:328px">"VODIY SINOTEKS LIDER" ҚК</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Фаргона&nbsp; в Марғилон шаҳар, Озода, 54</td>
                    <td style="width:150px">+99891 111-17-26</td>
                </tr>
                <tr>
                    <td style="width:328px">"SIRDARYA CHARM" МЧЖ</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Сирдарё вилояти, Сирдарё&nbsp; тумани, Ҳақиқат қишлоғи, Хақиқат маҳалла,
                        трасса Бетонка 1.
                    </td>
                    <td style="width:150px">0367 377-33-33<br>
                        0367 377-11-88<br>
                        +99867 377-44-44
                    </td>
                </tr>
                <tr>
                    <td style="width:328px">МЧЖ "GOLD LEATHER EXPORT IMPORT"&nbsp;</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Наманган вилояти, Косонсой тумани, Ёшлик КФИ.</td>
                    <td style="width:150px">+99897 255-19-35</td>
                </tr>
                <tr>
                    <td style="width:328px">"ABU ALI ABDULLA" МЧЖ&nbsp;</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент шаҳар Фозилтепа 24а уй</td>
                    <td style="width:150px">+99890 357-14-82<br>
                        +99897 333-34-25
                    </td>
                </tr>
                <tr>
                    <td style="width:328px">"LEATHER NATURAL" МЧЖ</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент шаҳар Учтепа тумани Қурувчи 5-тор кўчаси 16 уй</td>
                    <td style="width:150px">&nbsp;</td>
                </tr>
                <tr>
                    <td style="width:328px">"QUMARIQ POLIETILEN KLASSIK" ХК</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Фарғона вилояти Учкўприк тумани Қумариқ шаҳарчаси Ариқбўйи кўчаси</td>
                    <td style="width:150px">+99897 966-11-19<br>
                        +99891 155-61-23
                    </td>
                </tr>
                <tr>
                    <td style="width:328px">"SAM SUNIY DERI" ҚК МЧЖ</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Самарқанд вилояти Самарқанд шаҳри Фарход қўрғони</td>
                    <td style="width:150px">+99897 925-56-71</td>
                </tr>
                <tr>
                    <td style="width:328px">"CHEMICAL GLOBAL TRADE" МЧЖ</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент шаҳар Сергели тумани<br>
                        Саадий кўчаси 27 уй
                    </td>
                    <td style="width:150px">+99890 999-53-59</td>
                </tr>
                <tr>
                    <td style="width:328px">"TASHKENT LEATHER INDUSTRY" МЧЖ</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент шаҳар Сирғали тумани Саади кўчаси 27 уй</td>
                    <td style="width:150px">+99899 857-70-70</td>
                </tr>
                <tr>
                    <td style="width:328px">"ABSOLUTE PROMTEX" МЧЖ</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент шаҳри, Фозилтепа кўчаси, 8-уй</td>
                    <td style="width:150px">+99893 583-92-39</td>
                </tr>
                <tr>
                    <td style="width:328px">"NUR FAYZ EXPORT" МЧЖ</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкент шаҳар, Яшнаобод тумани, Оҳанграбо кўчаси 3 уй</td>
                    <td style="width:150px">+99899 888-74-11<br>
                        +99893 616-88-28
                    </td>
                </tr>
                <tr>
                    <td style="width:328px">"ANTIK ASL CHARM" МЧЖ</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Наманган шаҳар, Марғилон кўчаси 218-уй</td>
                    <td style="width:150px">+99893 923-25-30</td>
                </tr>
                <tr>
                    <td style="width:328px">LAMINAT DÉCOR TRADE&nbsp; МЧЖ</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Тошкен шахар Шайхонтохур тумани . Лабзак куча 32А уй</td>
                    <td style="width:150px">+998903200770&nbsp;</td>
                </tr>
                <tr>
                    <td style="width:328px">"SAMARKAND ARSEL PRODUKT" МЧЖ ХК</td>
                    <td style="width:178px">Терини қайта ишлаш</td>
                    <td style="width:338px">Самарқанд вилояти Самарқанд шаҳри Кимёгарлар қўрғони ОАЖ Химзавод ҳудуди
                    </td>
                    <td style="width:150px">+99890 503-14-62</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}
